{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
  <div class="container-fluid">
    <ol class="breadcrumb">
        <li><a href="{% url 'restaurant_list' %}">All Restaurants</a></li>
        <li class="active">{{ restaurant.name }}</li>
    </ol>

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <h1>
          {{ restaurant.name }}

          <span class="pull-right">
            <a href="{% url 'restaurant_archive' pk=restaurant.pk %}" class="btn btn-danger">Archive Restaurant</a>
          </span>
        </h1>
        <hr>

        {% bootstrap_messages %}

        <form method="POST">{% csrf_token %}
          {% bootstrap_form form %}

          <div class="form-group">
            <button type="submit" class="btn btn-primary">Update Restaurant</button>
          </div>
        </form>

        <div class="panel panel-default">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <form class="form-inline" method="post" action="{% url 'section_add' %}">{% csrf_token %}
                  <input type="hidden" name="restaurant" value="{{ restaurant.pk }}" />
                  {% bootstrap_form section_form %}

                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Add</button>
                  </div>
                </form>
              </div>
            </div>

            <h3>Menu Sections</h3>
            <hr>

            <div class="row">
              {% for section in sections %}
                <div class="col-xs-12 col-sm-3">
                  <div class="panel panel-default">
                    <div class="panel-body">
                      <h1>{{ section.name }}</h1>
                      <hr>

                      <div class="pull-right">
                        <a href="{% url 'section_view' slug=section.slug %}" class="btn btn-primary">Manage</a>
                        <a href="{% url 'section_delete' pk=section.pk %}" class="btn btn-danger">Remove</a>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}