{% extends "base.html" %}

{% load bootstrap3 %}

{% block content %}
  <div class="container-fluid">
    
        <ol class="breadcrumb">
            <li><a href="{% url 'restaurant_list' %}">All Restaurants</a></li>
            <li><a href="{% url 'restaurant_view' slug=section.restaurant.slug %}">{{ section.restaurant.name }}</a></li>
            <li class="active">{{ section.name }}</li>
        </ol>
    

      <div class="row">
          <div class="col-xs-12 col-sm-12">
            <h1>
                <span>{{ section.name }}</span>

                <span class="pull-right">
                    <button type="button" data-toggle="modal" data-target="#add_item_modal" class="btn btn-primary">Add New Item</button>
                </span>
            </h1>
            <hr>

            {% bootstrap_messages %}
          </div>
      </div>

      <div class="row">
          <div class="col-xs-12 col-sm-4">
              <div class="panel panel-default">
                  <div class="panel-body">
                    <form class="form-inline" action="{% url 'category_add' %}" method="post">{% csrf_token %}
                        <input type="hidden" name="section" value="{{ section.pk }}" />
                        {% bootstrap_form category_form %}

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Add Category</button>
                        </div>
                    </form>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-xs-12 col-sm-12">
              <div class="panel panel-default">
                  <div class="panel-body">
                      <div class="row">
                          <div class="col-xs-12 col-sm-6">
                              <h3>Categories</h3>
                              <hr>

                              <div class="row">
                                  <div class="col-xs-12 col-sm-10">
                                      <div class="list-group" id="sortable">
                                        {% for category in categories %}
                                            <a role="button" onclick="getItems({{ category.pk }})" class="list-group-item">{{ category.name }}</a>
                                        {% endfor %}
                                    </div>
                                  </div>
                              </div>
                          </div>

                          <div class="col-xs-12 col-sm-6">
                              <h3>Items</h3>
                              <hr>

                              <div class="row">
                                  <div class="col-xs-12 col-sm-10">
                                      <div class="list-group" id="items">
                                          
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <script>
      var getItems = function (pk) {
            $.ajax({
               url: "{% url 'item_list' %}",
                type: 'POST',
                data: {'pk': pk },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function(response) {
                    $('#items').empty();

                    response.forEach(({ fields }) => {
                        var url = `/items/${fields.slug}/edit`;
                        var item = `<a href=${url} class="list-group-item">${fields.name}</a>`;

                        $(item).appendTo('#items').hide().fadeIn(1000);
                    });
                },
            });
        }
  </script>

  {% include "sections/add_item.html" %}
{% endblock content %}