{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Restaurants</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    {% block nav %}
      {% include "snippets/navigation.html" %}
    {% endblock nav %}

    <div id="wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="padding-top20"><h3 class="text-white">Restaurants</h3></li>
        </ul>
      </div>

      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
                {% block content %}
                
                {% endblock content %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% bootstrap_javascript %}
  </body>
</html>