{% load staticfiles %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Django Restaurants</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    {% bootstrap_css %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
  </head>
  <body>
    {% block nav %}
      {% include "snippets/navigation.html" %}
    {% endblock nav %}

    <div id="wrapper">
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li><h3>Manage Restaurants</h3></li>
          <li><a href="{% url 'restaurant_list' %}">Restaurants</a></li>
          <li><a href="{% url 'restaurant_add' %}">Add new restaurant</a></li>
          <li><h3>Manage Cuisines</h3></li>
          <li><a href="{% url 'cuisine_list' %}">Cuisines</a></li>
        </ul>
      </div>

      <div id="page-content-wrapper">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12">
                {% block content %}
                
                {% endblock content %}
            </div>
          </div>
        </div>
      </div>
    </div>

    {% bootstrap_javascript %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
      $( function() {
        $( "#sortable" ).sortable();
        $( "#sortable" ).disableSelection();
        $('[data-toggle="tooltip"]').tooltip();
      } );
    </script>
  </body>
</html>